{{#each accountPurchases as |accountPurchase|}}

 <ul>
  <li>Health Potions: {{accountPurchase.healthPotions}}</li>
  {{#if accountPurchase.sweep}}
  <li>Sweeping Strike: Unlocked!</li>
  {{/if}}
  {{#unless accountPurchase.sweep}}
  <li>Sweeping Strike: [Not Yet Purchased]</li>
  {{/unless}}
  {{#if accountPurchase.blast}}
  <li>Lightning Blast: Unlocked!</li>
  {{/if}}
  {{#unless accountPurchase.blast}}
  <li>Lightning Blast: [Not Yet Purchased]</li>
  {{/unless}}
</ul>

{{/each}}
