
<table class="table table-striped table-hover">
<tr class='header_row'>
  <td>Score:</td>
  <td>Player:</td>
  <td>Game ID:</td>
</tr>

{{#each scores as |score|}}

 <tr>
   <td>{{score.score}}</td>
   <td>{{score.email}}</td>
   <td>{{score.id}}</td>
 </tr>


{{/each}}
</table>
