$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.board-spot {
  border: 1px solid black;
  min-height: 50px;
  min-width: 50px;
}

.well {
  max-height: 100px;
}
