$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.board-spot {
  border: 1px solid black;
  min-height: 50px;
  min-width: 50px;
  // background-image: url('http://res.cloudinary.com/ismurray/image/upload/v1520817079/brick-tiles.png');
}

.board-spot::after {
  content: '';
  background: url('http://res.cloudinary.com/ismurray/image/upload/v1520817079/brick-tiles.png');
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body {
  background: url('http://res.cloudinary.com/ismurray/image/upload/v1520820267/8-bit-landscape.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #232055;
  h1, h2 {
    color: #fffff0;
  }
}


.game-message-well {
  height: 100px;
}

.board-spot img {
  margin-left: auto;
	margin-right: auto;
	display: block;
}

.auth-buttons {
  margin-top: 25px;
  margin-bottom: 25px

}

.player-inputs {
  margin-bottom: 100px;
}

.navbar {
  // background-color: rgb(165, 139, 242);
  background-color: rgb(80, 122, 143);
  border-color: grey;
  color: black;
}

.navbar-btn {
  // background-color: #337ab7;
  background-color: #374f5a;
  color: #fffff0;
  border-color: black;
}

#nav-text {
  background-color: rgb(80, 122, 143);
  color: black;
}

.modal-body {
  overflow-x: auto;
}


.form-control::-webkit-input-placeholder { color: black; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: black; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: black; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: black; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: black; }  /* Microsoft Edge */
